$prmry_clr: #007bff;
$scndry_clr: #6c757d;
$sccs_clr: #28a745;
$dngr_clr: #dc3545;
$wrnng_clr: #ffc107;
$info_clr: #17a2b8;
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 32px;
}
.App {
  text-align: center;
  overflow-x: hidden;
  .toDoList {
    width: 425px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5em;
    button{
       outline: none;
    }
    .toDoForm {
      position: relative;
      input {
        padding: 10px 15px;
        font-size: 1em;
        width: 100%;
        border: 2px solid $sccs_clr;
        border-radius: 5px;
        outline: none;
        display: inline-block;
      }
      .sbmt_btn {
        position: absolute;
        cursor: pointer;
        right: 0;
        bottom: 0;
        border-radius: 0 5px 5px 0;
        display: inline-block;
        outline: none;
        text-align: center;
        padding: 3px;
        height: 100%;
        border: none;
        width: 58px;
        background-color: $sccs_clr;
        color: white;
        font-size: 1.5em;
        transition: 0.4s;
        &:hover{
         background-color: #05c733;
        }
      }
    }
    .top_btn {
      margin: 10px 9px;
      text-align: center;
      width: 120px;
      font-size: 0.7em;
      padding: 5px;
      border-radius: 5px;
      background-color: $prmry_clr;
      color: white;
      border: 1px solid #555;
    }
    .todo_left {
      font-size: 0.8em;
    }
    .toDoElm {
      width: 100%;
      position: relative;
      margin: 10px 0;
      overflow: hidden;
      border: 1px solid #555;
      text-align: left;
      border-radius: 5px;
      .toDoTxt {
        padding: 7px 14px;
        width: 100%;
        color: #111;
        cursor: pointer;
        font-size: 0.7em;
        background-color: $info_clr;
        transition: background-color 0.4s;
      }
      .complete {
        background-color: $sccs_clr;
      }
      .del_btn {
        height: 100%;
        border: none;
        width: 50px;
        font-size: 1em;
        color: white;
        cursor: pointer;
        background-color: $dngr_clr;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: 0.4s;
        &:hover{
           background-color: #e01126;
        }
      }
    }
    .btm_btn{
      margin: 10px 6px;
      cursor: pointer;
      text-align: center;
      width: 200px;
      display: inline-block;
      border: 1px solid #555;
      font-size: 0.5em;
      padding: 5px;
      border-radius: 5px;
    }
    .delAll_btn {
      background-color: $dngr_clr;
    }
    .toggAll_btn {
      background-color: $wrnng_clr;
    }
  }
}
@media (max-width: 700px){
   html{
      .App{
         font-size: 24px;
         .toDoList{
            width: 90%;
            .top_btn{
               width: 30%;
               margin: 15px 1.5% 5px 1.5%;
            }
            .todo_left{
               margin-bottom: 10px;
            }
            .toDoElm{
               margin: 0 0 15px 0;
            }
            .btm_btn{
               width: 48%;
               padding: 8px;
               margin: 10px 0;
               font-size: 0.6em;
            }
            .delAll_btn{
               margin-right: 2%;
            }
            .toggAll_btn{
               margin-left: 2%;
            }
         }
      }
   }
}
